[http]
	postBuffer = 524288000
	version = HTTP/2
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential]
	credentialStore = cache
  guiPrompt = false
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
[gpg]
	format = ssh
[user]
	signingkey = /home/erfi/.ssh/id_github_signing_key.pub
