[http]
	postBuffer = 524288000
	version = HTTP/2
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential]
	credentialStore = cache
[user]
	signingkey = 04F70FCAE3598239
[commit]
	gpgsign = true
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
