[http]
	postBuffer = 524288000
	version = HTTP/2
[init]
	defaultBranch = main
	templateDir = /home/erfi/.git-template
[push]
	autoSetupRemote = true
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential]
	credentialStore = cache
	guiPrompt = false
[commit]
	gpgsign = true
[user]
	name = Erfi Anugrah
	email = erfi.anugrah@gmail.com
	signingkey = 8F074DE4BCA8F850
[alias]
	dsf = diff --color
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[delta]
	navigate = true
	dark = true
[merge]
	conflictstyle = diff3
; [url "git@github.com:ingka-group-digital"]
; 	insteadOf = https://github.com/ingka-group-digital/
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
